body
{
    background-image: url(assets/img/bgBase.png);
    background-attachment: fixed;

}
#hof
{
    display: flex;
    flex-direction: column;
    
}
.variante1
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 1rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    height: 20rem; 
    
}

.variante2
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 1rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    height: 20rem; 

}
.variante3
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 1rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    height: 20rem; 

}
.tileTitle
{
    background-color: red;
    padding : 0.5rem;
    border-radius: 0 0 1rem 1rem;
}
.tileTitle>h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

#imgTiles1
{ 
display: flex;   
align-items: center;
justify-content: center;
border-radius: 0.8rem 0.8rem 0 0rem;
border: solid red;
background-image: url(assets/img/arcs/ArcFIRE.png);
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
}
#imgTiles2
{ 
display: flex;   
align-items: center;
justify-content: center;
border-radius: 0.8rem 0.8rem 0 0rem;
border: solid red;
background-image: url(assets/img/arcs/Electric\ Arc.png);
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
}
#imgTiles3
{ 
display: flex;   
align-items: center;
justify-content: center;
border-radius: 0.8rem 0.8rem 0 0rem;
border: solid red;
background-image: url(assets/img/arcs/ArcFIRE.png);
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
}