body
{
    background-image: url(assets/img/bgBase.png);
    background-attachment: fixed;

}

#cardMenu
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    
}
.index-menu-card
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 1rem;
    flex-wrap: wrap;
    height: 12rem; 
}

.article
{
    background-color: #333333;
    padding : 0.5rem;
    border-radius: 0 0.8rem 0.8rem 0;
    background-image: url(assets/img/featherRed.png);
    background-position: right center;
    background-size: 20%;
    background-repeat: no-repeat;    
}


.article > h1
{
padding-bottom: 2rem;
padding-top: 1rem;
}


.hallOfFame
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 1rem;
    flex-wrap: wrap;
    height: 12rem; 

}
.contact
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 1rem;
    flex-wrap: wrap;
    height: 12rem; 
    margin-bottom: 10rem;
}

.logoTiles
{ 

display: flex;   
align-items: center;
justify-content: center;
background-color: #BD2A21;
border-radius: 0.8rem 0 0 0.8rem;
}

@media screen and (min-width: 400px)
{
    #cardMenu
    {
        display: flex;
        flex-direction: row;  
    }
    .hallOfFame
    {
        margin-top: 8rem;
    }
    .contact
    {
        margin-top: 8rem;
    }
    .historyAndRules
    {
        margin-top: 8rem;
    }

}