body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#apply{
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
    background-color: aquamarine;
    box-sizing: border-box;
    width: 25rem;

}
label{
    display: flex;
    height: 2rem;
}
/* #slider{
    display: flex;
    
} */