@font-face {
    font-family: vanilla;
    src: url("../fonts/vanilla\ whale.otf") format("opentype");
  }
  
@font-face {
  font-family: Spartan;
  src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;900&display=swap');

}  
  :root {
    --color-primary: #BD2A21;
    --color-secondary: #333333;
    --color-tiercary: #F6F5EF;
  }
  
  /* RESET SETTINGS */
  html, body {
    margin: 0;
    padding: 0
  }
  * {
    box-sizing: border-box;
  }
  /* END RESET SETTINGS */
  
  
  body {
    background-image: url(/assets/img/bgBase.png);
    display: flex;
    flex-direction: column;
    /* justify-content: space-a; */
    height: 100vh;
    color: var(--color-tiercary);
    background-color: var(--color-secondary);
    font-family: 'League Spartan', sans-serif;
  }
  #apply{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 25%;
    padding: 1rem;
    background-color: #f0e9e5a3 ;
    background-image: url(/assets/img/LogoW.png);
    background-position:center;
    background-position-y: 45%;
    background-size: 200%;
    box-sizing: border-box;
    box-shadow: #f0e9e5a8 0px 0px 10px 10px;
    border-radius: 1em;


}
/* label{
    display: flex;
    justify-content: center; 
}*/
form{
  
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    height: 50rem;
    margin-bottom: 5em;
       /* border: #BD2A21 solid 2px; */
  
}
form h2{
  font-family: vanilla;
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-primary);
  text-shadow: #F6F5EF 2px 0px 20px;
}
#apply h1{
  font-family: vanilla;
  font-size: 6rem;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
}
#ageslider{
  margin-left: 1ch;

}
#why:not(li){
  /* border:#BD2A21 solid 2px; */
  display: flex;
  height: auto;
  margin-top: 2rem;
  padding: 0rem 3rem ;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  background-color: #302b2ae1;
  /* background-attachment: local; */
  border-radius: 5%;
  box-shadow: -0px 20px 70px 20px #302b2af5;


}
#why li{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content:start;
  height: auto;
  align-items: baseline;
  margin: 0.5rem;  
  text-align:initial;
  width: 40ch;

}
li .reason{
  margin-right: 3ch;
}
#who:not(select){
  display: grid;
  /* margin: 20rem; */
  grid-template-rows: 10fr;
  grid-template-columns: 2fr;
  row-gap: 0.5rem;
  /* border: #BD2A21 solid 2px; */
  background-color: #302b2ae1;
  background-attachment: local;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: -0px 20px 70px 20px #302b2af5;
}
#name{
  grid-area: 1 / 2 ;
  border-radius: 0.5rem;
  width: 100%;
}
#lieu{
  grid-area: 5 / 2;
  border-radius: 0.5rem;
}
#email{
  grid-area: 7 / 2;
  border-radius: 0.5rem;
}
select{
display: inline-flex;
margin-inline-start: 20rem;
margin-inline-end: -13rem;
position: relative;
border-radius: 0.5rem;
/* display: inline-flex;
justify-content: flex-end; */
/* margin-left: 20em; */
/* margin-bottom: -10rem; */
/* position:inherit; */
}
#slider{
  grid-area: 3 / 2;
  }

#why #submit{
  border: none;
  font-family: vanilla;
  padding-right: 3rem;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  height: 3rem;
  /* border: #BD2A21 solid 3px; */
  background-color:#302b2a00;
  background-image: url(/assets/img/BrushStroke.png);
  background-size: 50%;
  background-position: center;
  height: 4rem;
  background-repeat:no-repeat;
  
}

@media screen and (max-width: 400px){
  #apply{
    /* width: fit-content; */
    margin: 2rem;
  }
  #contactform{
    display: none;
    flex-direction: row; 
    /* justify-content: center; */
    margin: 2em;
 }
 #who{
   border: #BD2A21 solid 2px;
 }
  
}
/* #who{
  display: flex;
  flex-direction: column;
  justify-content: center;
 border: #BD2A21 solid 2px; 
  height: auto;
} */
/* #who > input{
  /* margin-bottom: 0.2rem; */
  /* margin-block-end: 0.7rem;
  margin-block-start: -0.1rem;
  color: aqua;
} */ 

  
  a {
    text-decoration: none;
    color: var(--color-tiercary);
  }
  a:visited {
    color: var(--color-tiercary);
  }
  
  header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: vanilla;
    height: 3rem;
  }
  
  header h1 {
    font-size: 1.3rem;
    font-weight: 200;
    display: flex;
    align-items: center;
  }
  
  header h1 img {
    margin-right: 0.5rem;
    height: 2.5rem;
  }
  
 
  header nav {
    display: none;
  }
  
  header .menu {
    display: none;
  }
  
  #logo {
    width: 80vw;
  }
  section {
    height: 100%;
  }
  footer {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-evenly;
  }

/* body{
    background-image: url(/assets/img/bgBase.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 header i {
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
  header i:hover {
    transform: rotateZ(90deg);
    padding-left: 0;
    padding-bottom: 1rem;
  }
  */
  

/* #slider{
    display: flex;
    
} */ 