@font-face {
  font-family: vanilla;
  src: url("../fonts/vanilla\ whale.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;900&display=swap');

:root {
  --color-primary: #BD2A21;
  --color-secondary: #333333;
  --color-tiercary: #F6F5EF;
}

/* RESET SETTINGS */
html, body {
  margin: 0;
  padding: 0
}
* {
  box-sizing: border-box;
}
/* END RESET SETTINGS */


body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: var(--color-tiercary);
  background-color: var(--color-secondary);
  font-family: 'League Spartan', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-tiercary);
}
a:visited {
  color: var(--color-tiercary);
}

header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: vanilla;
  height: 3rem;
}

header h1 {
  font-size: 1.3rem;
  font-weight: 200;
  display: flex;
  align-items: center;
}

header h1 img {
  margin-right: 0.5rem;
  height: 2.5rem;
}

header i {
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
header i:hover {
  transform: rotateZ(90deg);
  padding-left: 0;
  padding-bottom: 1rem;
}

header nav {
  display: none;
}

header .menu {
  display: none;
}

#hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo {
  width: 80vw;
}
section {
  height: 100%;
}
footer {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-evenly;
}