/* RESET & SETTINGS */
@font-face {
  font-family: vanilla;
  src: url("../fonts/vanilla\ whale.otf") format("opentype");
}

@font-face {
  font-family: "spartan-regular";
  src: url("../fonts/static/LeagueSpartan-Regular.ttf");
}
@font-face {
  font-family: "spartan-bold";
  src: url("../fonts/static/LeagueSpartan-Bold.ttf");
}
@font-face {
  font-family: "spartan-light";
  src: url("../fonts/static/LeagueSpartan-Light.ttf");
}
@font-face {
  font-family: "spartan-medium";
  src: url("../fonts/static/LeagueSpartan-Medium.ttf");
}

:root {
  --color-primary: #BB3F37;
  --color-secondary: #333333;
  --color-tiercary: #F6F5EF;
  scroll-behavior: smooth;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* END RESET & SETTINGS */

/* BASE TEMPLATE FOR ALL PAGES */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: var(--color-tiercary);
  background-color: var(--color-secondary);
  font-family: 'spartan-light', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-tiercary);
}
a:visited {
  color: var(--color-tiercary);
}

header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: vanilla;
  min-height: 3rem;
  z-index: 2;
}

header h1 {
  font-size: 1.3rem;
  font-weight: 200;
  display: flex;
  align-items: center;
}

header h1 img {
  margin-right: 0.5rem;
  height: 1.5rem;
}

header i {
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
header i:hover {
  transform: rotateZ(90deg);
  padding-left: 0;
  padding-bottom: 1rem;
}

.menu {
  display: block;
  position: absolute;
  top: -10rem;
  left: 0;
  font-size: 2rem;
  padding: 0 1rem;
  background-color: var(--color-primary);
  transition: top 1s;
  z-index: 0;
  list-style-type: none;
}

footer {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-evenly;
}

/* END BASE TEMPLATE FOR ALL PAGES */

.base-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 2rem);
}

#hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero.jpg);
  background-position: center 0;
  background-size: cover;
}

#logo {
  height: 100%;
}
#hero .bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

#hero .bloc:first-of-type {
  height: 40vh;
}
#hero .bloc:last-of-type {
  justify-content: center;
  height: 30vh - 2rem;
}

#hero .bloc:last-of-type a {
  background-image: url(/assets/img/BrushStroke.png);
}

#hero .bloc a {
  display: block;
  background-color: #F6F5EF;
  text-transform: uppercase;
  padding: 1rem 30px 0.8rem;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
  font-family: "spartan-medium";
  font-size: 1rem;
  color: #BD2A21;
}

/* COUNTER START */

.counterText {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#counter {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}

.counterDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.separator {
  font-size: 3rem;
}

.counterDay span:first-child {
  font-size: 3.8rem;
  font-family: "spartan-light";
}

.counterDay span:last-child {
  font-size: 1.5rem;
  font-family: "spartan-medium";
}
/* COUNTER END */


.moveDown {
  position: absolute;
  z-index: 1;
  margin-top: auto;
  animation: 1.5s ease-in 1s infinite both slideUp;
  color: var(--color-primary);
}


@media screen and (min-width: 360px){
  

  #hero .bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
  }
}