
h2 {
  margin: 0 auto;
  font-size: 3.5rem;
  text-align: center;
  color: white;
  font-family: vanilla , sans-serif;
                                                
}
p {
  color: white;
  font-family:  'spartan-regular', sans-serif;
  padding: 10px;
  font-size: 1rem;
}
#story img {
  border-radius: 0.8rem 0 0 0.8rem ;
}
#rules img {
  border-radius: 0 0.8rem 0.8rem 0;
}
#story-rules {
  border: 0.5rem solid;
  border-color: red;
}
#story {
  background-color: #333333;
  border-radius: 0.8rem;
  margin: 1rem;
}
#rules {
  background-color: #333333;
  border-radius: 0.8rem;
  margin: 1rem;
}
@media screen and (min-width: 360px) {
  #story-rules {
    background-image: url(../img/bgBase.png);
    display: flex;
    flex-direction: column;
  }
  #story  {
    display: flex;
  }
  #rules {
    display: flex;
    flex-direction: row-reverse;
  }
  
}
