.primaryTitle {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
    font-family: vanilla;
    font-size: 4rem;
}

#hof {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 150rem;
    padding-left: 2rem;
}
.tileTitle {
    background-color: #BD2A21;
    padding : 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.tileTitle > h2 {
    display: flex;
    padding-top: 0.5rem;
    font-family: 'spartan-light';
    justify-content: flex-end;
    gap: 5rem;
}

.flip-card {
    perspective: 1000px;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.cardBack {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* margin: 1rem; */
    /* margin-top: 5rem; */
    /* height: 20rem;     */
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardFront {
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* min-height: 20rem;     */
}

.frontTile {
    display: flex;   
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem 0.5rem 0 0rem;
    border: solid #BD2A21;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.backTile {
    display: flex;   
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem 0.5rem 0 0rem;
    border: solid #BD2A21;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imgFrontTiles1 { 
    background-image: url('../img/variante/cloclo.webp');
}
#imgBackTiles1 { 
    background-image: url('../img/arcs/Electric\ Arc.png');
}
#imgFrontTiles2 { 
    background-image: url('../img/variante/jeannedarc.jpg');
}

#imgBackTiles2 { 
    background-image: url('../img/arcs/ArcFIRE.png');
}
#imgFrontTiles3 { 
    background-image: url('../img/variante/vador.jpg');
}
#imgBackTiles3 { 
    background-image: url('../img/arcs/ArcVad.png');
}
#imgFrontTiles4 { 
    background-image: url('../img/variante/Louis\ SansTete.png');
}
#imgBackTiles4 { 
    background-image: url('../img/arcs/Arcseeker.png');
}
#imgFrontTiles5 { 
    background-image: url('../img/variante/triomphe.jpeg');
}
#imgBackTiles5 { 
    background-image: url('../img/arcs/Arc\ Triomphe.png');
}
#imgFrontTiles6 { 
    background-image: url('../img/arcs/ArcBACKGROUND.png');
}
#imgBackTiles6 { 
    background-image: url('../img/arcs/ArcBACKGROUND.png');
}

#tilesLink {
    display: flex;
    border: solid #BD2A21;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: #BD2A21 ;
    margin: 1rem;
    background-color: #F6F5EF;
}
#legendPlace {
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    color: white ;
    font-family: 'spartan-light';
}

.tileContent {
    background-color: #BD2A21;
    padding : 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.tileContent > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'spartan-light';
    font-size: 1.3rem;
    gap: 1rem;
}

@media screen and (min-width: 700px) {
    #hof {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 1.5rem;
        min-height: 0;
        height: 100vh;
        margin-bottom: 3rem;
    }
    
    .tileTitle > h2 {
        gap: 13rem;
    }
}   